@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors';

.profile-page {
    display: flex;
    flex-direction: column;
    padding: $padding;
    min-height: 100vh;
    background-color: colors.$ink-6;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: $margin*1.5;
    }

    &__title {
        font: $mPageHeader;
        margin-bottom: $margin*0.5;
    }
}

.profile-info {

    &-container {
        display: flex;
        flex-direction: column;
        border-radius: $border-radius*2;
        background-color: colors.$accent-orange;
        margin-bottom: $margin;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        padding: $padding;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $margin*0.5;
    }

    &__name {
        font: $mSubheader;
    }

    &__email, &__phone {
        font: $mBodyLarge;
    }

    &__buttons {
        display: flex;
    }

    &__btn {
        @include form-button-black;
    }
}