@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors';

.trip-details-page {
    padding: $padding;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: $margin*1.5;
    }

    &__title {
        font: $mPageHeader;
        margin-bottom: $margin*0.5;
    }

    &__btn {
        @include primary-button;
    }

    &__status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: colors.$ink-6;
        margin-top: $margin;
        
        &-title {
            display: flex;
            justify-content: center;
            font: $mSubheader;
        }

        &-buttons {
            display: flex;
            justify-content: center;
        }

        &--inactive {
            @include trip-status-inactive;
        }

        &--active {
            @include trip-status-active;
        }

        &--completed {
            @include trip-status-completed;
        }
    }

}

.trip-details {
    display: flex;
    flex-direction: column;
    // border-radius: $border-radius*2;
    // background-color: colors.$accent-yellow;
    // margin-bottom: $margin;
    // box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    // overflow: hidden;

    &__title {
        font: $mBodyLarge;
        font-weight: 700;
    }

    &__subtitle {
        font: $mLabels;
    }

    &__status {
        &-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--inactive {
            @include trip-status-inactive;
        }

        &--active {
            @include trip-status-active;
        }

        &--completed {
            @include trip-status-completed;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        // padding: $padding;
    }

    &__section {
        border-radius: $border-radius*2;
        background-color: colors.$accent-yellow;
        margin-bottom: $margin;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        padding: $padding;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font: $mSubheader;
    }
}

.trip-comments {
    display: flex;
    flex-direction: column;

    &__title {
        font: $mSubheader;
        margin: $margin 0;
    }
}

.trip-comments-form {
    display: flex;
    flex-direction: column;
    background-color: colors.$accent-orange;
    border-radius: $border-radius*2;
    margin-bottom: $margin;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    padding: $padding;

    &__label {
        font: $mBodyLarge;
        font-weight: 700;
    }

    &__input {
        @include primary-input;
    }

    &__textarea {
        @include primary-textarea;
    }

    &__warning-message {
        @include warning-notification;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end
    }

    &__btn {
        @include form-button-black;
    }
}