//PRIMARY COLORS
$ink-1: #191D21; // Black
$ink-2: #656F77;
$ink-3: #ACB8C2;
$ink-4: #CDD9E3;
$ink-5: #E8EEF3;
$ink-6: #FFFFFF; // White

// ACCENT COLORS
$accent-orange: #FFD1B6;
$accent-yellow: #FFF3B6;
$accent-green: #D9FFF8;
$accent-blue: #CBE3FF;
$accent-purple: #F2E8FF;
$accent-pink: #FFDBF5;

// UTILITY COLORS
$active: #1814E4;
$success: #23E9B4;
$info: #91D7E0;
$warning: #FFAC4B;
$error: #FF5A5A;

// NOTIFICATION BG
$success-bg: #BAEDE1;
$info-bg: #CDEDF6;
$warning-bg: #FFEACA;
$error-bg: #FFCACA;