@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors';

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // background-color: colors.$ink-5;
    padding: $padding*0.5;
    // position: fixed;

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: colors.$ink-1;
        font: $mBodyLarge;
        padding: $padding*0.5;
        width: 68px;
        height: 68px;
        border-radius: $border-radius*2;

        &--active-trips {
            background-color: colors.$accent-pink;
        }

        &--active-profile {
            background-color: colors.$accent-yellow;
        }
    }

    &__icon {
        margin-bottom: $margin*0.25;

        &-container {
            display: flex;
            justify-content: center;
        }
    }

    &__text {

    }
}