@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors';

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: colors.$accent-orange;
    padding: $padding*0.5;
    border-radius: 0 0 $border-radius*2 $border-radius*2;
    // position: fixed;

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: colors.$ink-1;
        font: $mBodyLarge;

        &--active {
            color: colors.$ink-3;
        }

        &--active img {
            filter: invert(79%) sepia(11%) saturate(300%) hue-rotate(165deg) brightness(93%) contrast(85%);
        }
    }

    &__icon {
        margin-bottom: $margin*0.25;

        &-container {
            display: flex;
            justify-content: center;
        }
    }

    &__text {

    }
}